.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: blue;
}

.gallery {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

// cards

.photo-card {
  // width: calc(100% / 3 - 10px * 2);
  width: calc(100% / 4 - 10px * 4);
  margin: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 4, 56, 0.5);
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(241, 241, 220, 0.5);

  &:hover,
  &:focus {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.load-more {
  width: 160px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  background-color: gainsboro;

  &:hover,
  &:focus {
    color: white;
    background-color: blue;
  }

  &.is-hidden {
    display: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
